<header class="content-effect" id="up">
  <div>
  <a class="btn-header" href="#contacto">Contacto</a>
  </div>
  <img src="../assets/img/B&T_logo variante_3.jpg" class="animated jackInTheBox delay-1s">
  <ul>
    <li><a href="https://www.facebook.com/bytfashion" target="_blank"><img src="../assets/img/facebook.png" class="animated bounce delay-3s"></a></li>
    <li><a href="https://www.instagram.com/boullosatanusfashion/?igshid=1x71xwzs7db4b" target="_blank"><img src="../assets/img/instagram.png" class="animated bounce delay-3s"></a></li>
  </ul>
</header>
<div class="encabezado content-effect">
  <ul>
    <li><a class="animated fadeIn delay-1s" href="#contenedorh">Renta</a></li>
    <li><a class="animated fadeIn delay-1s" href="#promociones">Promociones</a></li>
    <li><a class="animated fadeIn delay-1s">Vestidos</a></li>
    <li><a class="animated fadeIn delay-1s">Sucursal</a></li>
  </ul>
</div>
<div class="banner animated slideInRight delay-1s">
    <ul>
        <li><img src="../assets/img-b/2019-12-0810.25.231.jpg"></li>
        <li><img src="../assets/img-b/2019-12-0507.48.341.jpg"></li>
        <li><img src="../assets/img-b/2019-12-0507.50.471.jpg"></li>
        <li><img src="../assets/img-b/2019-12-0611.08.471.jpg"></li>
    </ul>
</div><br>
<!--CONTENIDO-->
<div class="contenedorh content-effect animated lightSpeedIn delay-1s" id="contenedorh">
  <h1>¿Cómo rentar?</h1>
  <div class="cajas">
      <div class="caja">
          <div class="number colorf animated rotateIn delay-2s">1</div>
          <img src="../../../assets/img/online-store.png" class="animated zoomIn delay-2s">
          <h1>Visítanos</h1>
          <p><b>Visítanos</b> en tu sucursal <br>más cercana.</p>
      </div>
      <div class="caja">
          <div class="number colors animated rotateIn delay-3s">2</div>
          <img src="../../../assets/img/dress.png" class="animated zoomIn delay-3s">
          <h1>Selecciona</h1>
          <p><b>Selecciona</b> tu vestido<br> favorito y <b>apártalo</b> con el<br> 50%.</p>
      </div>
      <div class="caja">
          <div class="number colort animated rotateIn delay-4s">3</div>
          <img src="../../../assets/img/money.png" class="animated zoomIn delay-4s">
          <h1>Aparta</h1>
          <p>Cubre el 50% restante y<br> <b>recoge tu renta</b> hasta 2<br> días antes de tu evento.</p>
      </div>
      <div class="caja">
          <div class="number colorc animated rotateIn delay-5s">4</div>
          <img src="../../../assets/img/costume-clothes.png" class="animated zoomIn delay-5s">
          <h1>Entrega</h1>
          <p><b>Entrega</b> tu renta el día<br> lunes después de tu<br> evento. Nosotros nos<br> encargamos de la<br> tintorería.</p>
      </div>
  </div>
  <div class="renta-log">
  <div class="figura-renta">
  </div>
  <img src="../assets/img/mp.png">
  </div>
  </div>

  <div class="promociones content-effect animated slideInLeft delay-1s" id="promociones">
    <div class="promo"><img src="../assets/img-b/2019-12-0511.35.191.jpg" class="animated bounceInLeft delay-3s"></div>
    <div class="promo"><img src="../assets/img-b/2019-12-0610.19.031.jpg" class="animated fadeInUp delay-2s"></div>
    <div class="promo"><img src="../assets/img-b/2019-12-0803.23.541.jpg" class="animated bounceInRight delay-3s"></div>
    <div class="fondo-promo">
      <h1 class="animated tada infinite delay-2s">PROMOCIONES</h1>
      <h2 class="animated fadeIn delay-2s">¿Tienes muchos eventos en el año y no sabes qué ponerte?</h2>
      <h3 class="animated fadeIn delay-3s">¡Paga solo 3 rentas y usa 4!</h3>
      <a class="btnq animated fadeIn delay-4s" href="#contacto">Quiero rentar un vestido</a>
      <ul class="animated fadeIn delay-4s">
        <li>Promoción personal e intransferible.</li>
        <li>Vigencia por 2 años a partir de la contratación del servicio.</li>
        <li>Válido únicamente en pago de contado.</li>
      </ul>
    </div>
  </div><br>

  <div class="contacto content-effect animated slideInRight delay-3s">
    <div class="form-img">
          <img src="../assets/img/mujer-señalando-png.png">
      </div>
    <div class="form" id="contacto">
      <form>
        <h1 class="animated jello delay-4s">Contáctanos</h1>
          Nombre: <input type="text" name="nombre" id="nombre">
          Teléfono: <input type="text" name="telefono" id="telefono">
          Mensaje: <textarea rows="10" cols="60"></textarea>
          <button>Enviar Mensaje</button>
      </form>
  </div>
<!--FIN CONTENIDO-->
<footer class="content-effect">
  <ul>
    <li><a href="https://www.facebook.com/bytfashion" target="_blank"><img src="../assets/img/facebook.png" class="animated bounce delay-3s"></a></li>
    <li><a href="https://www.instagram.com/boullosatanusfashion/?igshid=1x71xwzs7db4b" target="_blank"><img src="../assets/img/instagram.png" class="animated bounce delay-3s"></a></li>
  </ul>
    <div class="logo">  
    <img src="../assets/img/B&T_logo variante_3.jpg" class="animated jackInTheBox delay-1s">
    </div>
    <div class="arrow">
      <a href="#up"><img src="../assets/img/up-arrow.png"></a>
    </div>
</footer>