  li {
    line-height: 2em;
  }
  
  div.element {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid gray;
  }

  li {
    line-height: 2em;
  }
  div.element {
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid gray;
  }
  button {
    font-size: 130%;
    padding: 10px;
    background-color: #007bff;
  }
  button:hover {
    cursor: pointer;
  }